#include "resource.h"

STRINGTABLE
BEGIN
	IDC_YQ_IMAGE_WINDOW "YQ_IMAGE_WINDOW"
	IDS_YQ_IMAGE_WINDOW_TITLE "AVI Viewer"
	IDS_YQ_IMAGE_WINDOW_MASK_OPEN "BMP image (*.bmp)\0*.bmp\0All files (*.*)\0*.*\0"
	IDS_YQ_IMAGE_WINDOW_MASK_SAVE "BMP image (*.bmp)\0*.bmp\0"
	IDS_YQ_IMAGE_WINDOW_ERROR_MSG "Error"
END

IDD_YQ_AVI_DIALOG DIALOGEX 200, 200, 400, 300
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "AVI Viewer"
BEGIN
	PUSHBUTTON "", IDM_AVI_DIALOG_PLAY, 150, 260, 30, 30
	PUSHBUTTON "", IDM_AVI_DIALOG_STOP, 220, 260, 30, 30
	PUSHBUTTON "&Open", IDM_AVI_DIALOG_OPEN, 350, 10, 30, 30

END

IDC_YQ_IMAGE_WINDOW MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open...\tCtrl+O", IDM_YQ_IMAGE_WINDOW_OPEN
		MENUITEM "Save &as...\tCtrl+S", IDM_YQ_IMAGE_WINDOW_SAVE_AS
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "Flip &X\tCtrl+X", IDM_YQ_IMAGE_WINDOW_FLIP_X
		MENUITEM "Flip &Y\tCtrl+Y", IDM_YQ_IMAGE_WINDOW_FLIP_Y
		MENUITEM SEPARATOR
		MENUITEM "Invert &R\tCtrl+R", IDM_YQ_IMAGE_WINDOW_INVERT_R
		MENUITEM "Invert &G\tCtrl+G", IDM_YQ_IMAGE_WINDOW_INVERT_G
		MENUITEM "Invert &B\tCtrl+B", IDM_YQ_IMAGE_WINDOW_INVERT_B
	END
END

IDC_YQ_IMAGE_WINDOW ACCELERATORS
BEGIN
	"O", IDM_YQ_IMAGE_WINDOW_OPEN, CONTROL, VIRTKEY
	"S", IDM_YQ_IMAGE_WINDOW_SAVE_AS, CONTROL, VIRTKEY
	"X", IDM_YQ_IMAGE_WINDOW_FLIP_X, CONTROL, VIRTKEY
	"Y", IDM_YQ_IMAGE_WINDOW_FLIP_Y, CONTROL, VIRTKEY
	"R", IDM_YQ_IMAGE_WINDOW_INVERT_R, CONTROL, VIRTKEY
	"G", IDM_YQ_IMAGE_WINDOW_INVERT_G, CONTROL, VIRTKEY
	"B", IDM_YQ_IMAGE_WINDOW_INVERT_B, CONTROL, VIRTKEY
END