#include "resource.h"
#include <winuser.h>
#include <commctrl.h>

STRINGTABLE
BEGIN
	IDS_YQ_VIDEO_DIALOG_MASK_OPEN "AVI video (*.avi)\0*.avi\0All files (*.*)\0*.*\0"
	IDS_YQ_ERROR_MSG "Error"
END

IDD_YQ_VIDEO_DIALOG DIALOGEX 100, 100, 400, 320
STYLE WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "AVI Viewer"
BEGIN
	PUSHBUTTON "&Open", IDC_YQ_VIDEO_DIALOG_OPEN, 350, 10, 30, 30
	CONTROL "", IDC_YQ_VIDEO_CONTROL, "STATIC", WS_CHILD | WS_VISIBLE | SS_OWNERDRAW, 15, 10, 320, 240
	CONTROL "", IDC_YQ_VIDEO_DIALOG_TRACKBAR, TRACKBAR_CLASS, WS_CHILD, 10, 262, 380, 15
	PUSHBUTTON "&Play", IDC_YQ_VIDEO_DIALOG_PLAY, 150, 280, 30, 30
	PUSHBUTTON "&Stop", IDC_YQ_VIDEO_DIALOG_STOP, 220, 280, 30, 30
END